{{#if addNewPost}}
<div class="center">
  <h1>New Post</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Post Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="content">Post Content</label>
        {{textarea value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="img">Post Image url</label>
        {{input value=img id="img"}}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{input value=category id="category"}}
      </div>

      <button {{action 'savePost'}}>Save</button>
    </form>
  </div>
</div>
{{else}}
<div class="pull-right">
  <button class="btn btn-default"{{action 'postFormShow'}}> <span class="glyphicon glyphicon-plus"></span> New Post</button>
</div>
{{/if}}
