{{#if addNewComment}}
<h1>New Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Name</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        {{input value=comment id="comment"}}
      </div>
        <button {{action 'saveComment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action "commentFormShow"}}>Add Comment</button>
{{/if}}
