<div class="panel panel-default">
  {{#link-to 'post' post.id}}
  <div class="panel-heading">
    <div class="panel-title">
      {{post.title}} by {{post.author}}
    </div>
  </div>
  <hr>
  <div class="panel-body">
    <img src={{post.img}} alt="post image">
    {{post.content}}
  </div>
  <div class="panel-footer">
    Category: {{post.category}}
  </div>
  {{/link-to}}
</div>
