
<br>
<div class="panel panel-danger">
  <div class="panel-heading">
    <p class="panel-title">
      <span id="post-title">{{post.title}}</span> by {{post.author}}
    </p>
  </div>
  {{#link-to 'post' post.id}}
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src={{post.img}} alt="post image">
      </div>
      <div class="col-md-8 block-with-text">
        {{post.content}}
      </div>
    </div>
  </div>
  {{/link-to}}
  <div class="panel-footer">
    Category: {{post.category}}
  </div>
</div>
