<br>
<br>
<div class="center">
  <img src={{post.img}} alt="article image">
</div>
<br>
<div class="well">
  {{post.content}}
  <br>
  <p class="pull-right"><strong>Written by {{post.author}}</strong></p>
</div>
<br>
<span class="label label-info">{{post.category}}</span>
<div class="pull-right">
  <button {{action 'delete' post}}>Delete <span class="glyphicon glyphicon-trash"></span> </button>
</div>
<br>
<hr>

<h2 class="center">Comments</h2>
<div class="container">
  <div class="row">
    {{#each post.comments as |comment|}}
      {{comment-tile comment=comment destroyComment="destroyComment"}}
    {{/each}}
  </div>
</div>

<br>
