<h2>More info about {{model.author}}'s {{model.title}} article</h2>

{{update-post post=model update="update"}}

{{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment"}}

{{new-comment saveComment="saveComment" post=model}}
